<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLZ MNIST</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'widgets/theme_dark.css' %}">

    <link rel="stylesheet" href="{% static 'widgets/button/button.css' %}">
    <link rel="stylesheet" href="{% static 'widgets/section/section.css' %}">


    <link rel="stylesheet" href="{% static 'widgets/appbase/appbase.css' %}">
</head>

<body>

    <div class="section" id="content_section">
        <div class="section_content">
            {% block content_block %}
            {% endblock %}
        </div>
    </div>
</body>

</html>