{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Digit prediction</title>
  
    <!--<link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon"> -->
    <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css" />

    <!-- custom javascript -->
    <script src="{% static 'js/ui.js' %}" type="text/javascript"></script>

</head>
<body>
    helloworld
</body>
</html>