{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pred</title>
    <link href="{% static 'css/ui.css' %}" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>

</head>
<body>
    <header>
        <nav>
            <img src="#" alt="logo" />
            <button class="btn">contact us</button>
        </nav>
        <div class="build-sec">
            <div class="build">
                <h1 class="title">MLZ digit prediction</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum
                    recusandae enim in ipsa magni nam quibusdam ex commodi neque fugiat
                    deleniti architecto repellendus, eos excepturi reiciendis quae,
                    suscipit illo auto
                </p>
            </div>
        </div>
    </header>
    <form id="myForm" action="{% url 'predict' %}" method="POST" enctype="multipart/form-data">
        
        <canvas id="canvas" name="draw" width="400" height="400"></canvas>
        <input type="hidden" id="url" name="url" value="">
        <input type="submit" id="predict" value="Predict" onclick="return save();">
    </form>

    <script src="{% static 'js/ui.js' %}"></script> 
    <script type="text/javascript">
       $(document).ready(function() {
            drawCanvas();
        });
    </script>
</body>
</html>
