<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLZ MNIST</title>


    {% load static %}
    <link rel="stylesheet" href="{% static 'ui_app/home.css' %}">

</head>

<body>

    {% include 'widgets/appbase/appbase.html' %}

    {% block content %}

    <div class="section">
        <div class="section_content" id="inpt">
            <canvas id="img"></canvas>
            <button id="predict">Predict</button>
        </div>
    </div>


    <script src="{% static 'scripts/canvas.js' %}"></script>


    {% endblock %}


</body>

</html>