#inpt_section .section_content {
  gap: var(--sz3);
  max-width: 560px;
  /*28x20*/
}

#img {

  cursor: crosshair;

  background-color: var(--bg0);
  border: var(--sz1) dashed var(--txt1);
  /* border-radius: var(--sz3); */

}