#inpt_section{
  max-width: 560px; /*28x20*/
}

#inpt_section .section_content{
  gap: var(--sz3);
}

#img {  

  cursor: crosshair;

  background-color: var(--bg0);
  /*border-radius: var(--sz3);*/
}
