{% extends 'widgets/appbase/appbase.html' %}

{% load static %}

{% block content_block %}

{% csrf_token %}

<link rel="stylesheet" href="{% static 'ui_app/home.css' %}">

<div class="section" id="inpt_section">
    <div class="section_title">
        {% include 'widgets/canvas/canvas.html' %}
    </div>
    <div class="section_content">
        <button id="predict" onclick="predict(this)">Predict</button>
        <button id="clear" onclick="clearCnv();">Clear</button>


        <script>
            const URL = "{% url 'ui_app:home' %}"
        </script>

        <script src="{% static 'scripts/cookies.js' %}"></script>
        <script src="{% static 'scripts/post.js' %}"></script>
        <script src="{% static 'scripts/post_image.js' %}"></script>
        <script src="{% static 'scripts/predict.js' %}"></script>

    </div>
</div>

{% endblock %}